<% provide(:title, "Projects") %>
<div class="total-project d-flex flex-column px-2 position-relative">
  <div class="exp-total fw-bold  d-flex justify-content-center align-items-center mt-1 mb-4">
    <span class="me-2">
      Projects:<%=@projects.count%>
    </span>
    <span>
      Total duration: <%= total_project(@projects)  %>
    </span>
  </div>
  <%= render 'project' %>
  <p class="control">
                <%= link_to 'New Project', new_project_path, class: "button is-primary" %>
    </p>
  