<nav class="navbar navbar-dark bg-primary">
  
    <button class="navbar-toggler">
      <span class="navbar-toggler-icon"></span>
    </button>
  </a>

  <h4 class="title nav-item text-light mb-0 mx-auto text-center"><%= yield(:title).upcase %></h4>

  <div class="nav-item"></div>
</nav>